<template>
  <q-page>
    <LeftSidebar @onSubmit="submitParent" />
    <TodoList :daftar-todo="rows" @onHapus="hapus" @edit="editTodo" />
    <dialog-edit
      :showDialog="showDialogFromParent"
      :dataChild="data"
      @hideDialog="(value) => (showDialogFromParent = value)"
      @saveData="saveData"
    />
  </q-page>
</template>

<script>
import LeftSidebar from "../components/LeftSidebar.vue";
import { ref, defineComponent, reactive, toRefs } from "vue";
import dayjs from "dayjs";
import customParseFormat from "dayjs/plugin/customParseFormat";
import TodoList from "../components/todoList.vue";
import DialogEdit from "src/components/DialogEdit.vue";

export default defineComponent({
  name: "ModuleLayout",
  components: {
    LeftSidebar,
    TodoList,
    DialogEdit,
  },

  setup(props) {
    dayjs.extend(customParseFormat);
    const localStorageData = JSON.parse(localStorage.getItem("todolist"));
    const rows = ref(localStorageData ?? []);

    const state = reactive({
      showDialogFromParent: false,
      data: [{}],
    });

    const submitParent = (...parameters) => {
      rows.value.push({
        todo: parameters[0],
        date: dayjs(parameters[1], "DD/MM/YY").format("DD/MM/YY"),
      });
      localStorage.setItem("todolist", JSON.stringify(rows.value));
    };

    const hapus = (index) => {
      rows.value.splice(index, 1);
      localStorage.setItem("todolist", JSON.stringify(rows.value));
    };

    const editTodo = (index, data) => {
      state.data = {
        index: index,
        kegiatan: data,
      };
      state.showDialogFromParent = true;
    };

    const saveData = (...params) => {
      rows.value[params[0]] = {
        todo: params[1],
        date: dayjs(params[2], "DD/MM/YY").format("DD/MM/YY"),
      };
      localStorage.setItem("todolist", JSON.stringify(rows.value));

      state.showDialogFromParent = false;
    };

    return {
      submitParent,
      rows,
      hapus,
      editTodo,
      ...toRefs(state),
      saveData,
    };
  },
});
</script>

<style scoped>
.row {
  padding: 10px 15px;
  border: 1px solid rgba(86, 61, 124, 0.2);
}
</style>
