<template>
  <q-dialog v-model="show">
    <q-card>
      <q-card-section>
        <div class="text-h6">Edit</div>
      </q-card-section>
      <q-form @submit.prevent="save">
        <q-card-section class="q-pt-none">
          <div>
            <!-- date -->
            <label>Date</label>
            <q-input
              outlined
              dense
              v-model="date"
              label="Please input date"
              @click="$refs.dateProxy.show()"
            >
              <template v-slot:append>
                <q-icon name="event" class="cursor-pointer">
                  <q-popup-proxy
                    ref="dateProxy"
                    cover
                    transition-show="scale"
                    transition-hide="scale"
                  >
                    <q-date
                      v-model="date"
                      mask="DD/MM/YY"
                      @update:modelValue="$refs.dateProxy.hide()"
                    />
                  </q-popup-proxy>
                </q-icon>
              </template>
            </q-input>
          </div>

          <div class="q-mt-md">
            <!-- q input -->
            <label>Task</label>
            <q-input
              outlined
              dense
              v-model="task"
              label="Please input task"
              lazy-rules
              :rules="[
                (val) => (val && val.length > 0) || 'Please type something',
              ]"
            />
          </div>
        </q-card-section>

        <q-card-actions align="right">
          <q-btn flat label="Cancel" color="primary" @click="hideDialog" />
          <q-btn
            unelevated
            label="OK"
            color="primary"
            v-close-popup
            type="submit"
          />
        </q-card-actions>
      </q-form>
    </q-card>
  </q-dialog>
</template>

<script>
import { defineComponent, computed, reactive, watch, toRefs } from "vue";
export default defineComponent({
  props: {
    showDialog: {
      required: true,
      type: Boolean,
    },
    dataChild: {
      required: true,
    },
  },

  setup(props, { emit }) {
    const show = computed(() => props.showDialog);
    const state = reactive({
      indeks: 0,
      task: "",
      date: "",
    });

    watch(
      () => props.dataChild,
      (newValue, oldValue) => {
        state.indeks = newValue?.index;
        state.task = newValue?.kegiatan?.todo;
        state.date = newValue?.kegiatan?.date;
      }
    );

    const hideDialog = () => {
      emit("hideDialog", false);
    };

    const save = () => {
      emit("saveData", state.indeks, state.task, state.date);
    };

    return { show, ...toRefs(state), hideDialog, save };
  },
});
</script>
