<template>
  <q-header elevated>
    <q-toolbar class="row bg-dark header">
      <div class="judul text-body2 text-bold">To Do List</div>
    </q-toolbar>
  </q-header>
</template>

<script>
import { defineComponent } from "vue";

export default defineComponent({
  setup() {},
});
</script>

<style scoped>
.header {
  position: relative;
}

.judul {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
