<template>
  <q-drawer
    show-if-above
    v-model="leftDrawerOpen"
    side="left"
    width="250"
    bordered
  >
    <div class="q-px-sm q-py-md column">
      <q-form @submit="submit">
        <div>
          <!-- date -->
          <label>Date</label>
          <q-input
            outlined
            dense
            v-model="date"
            label="Please input date"
            @click="$refs.dateProxy.show()"
          >
            <template v-slot:append>
              <q-icon name="event" class="cursor-pointer">
                <q-popup-proxy
                  ref="dateProxy"
                  cover
                  transition-show="scale"
                  transition-hide="scale"
                >
                  <q-date
                    v-model="date"
                    mask="DD/MM/YY"
                    @update:modelValue="$refs.dateProxy.hide()"
                  />
                </q-popup-proxy>
              </q-icon>
            </template>
          </q-input>
        </div>

        <div class="q-mt-md">
          <!-- q input -->
          <label>Task</label>
          <q-input
            outlined
            dense
            v-model="task"
            label="Please input task"
            lazy-rules
            :rules="[
              (val) => (val && val.length > 0) || 'Please type something',
            ]"
          />
        </div>

        <!-- Button -->
        <q-btn
          color="primary"
          unelevated
          label="Submit"
          class="full-width q-mt-lg"
          type="submit"
        />
      </q-form>
    </div>
  </q-drawer>
</template>

<script>
import { defineComponent, reactive, ref, toRefs } from "vue";
import dayjs from "dayjs";

export default defineComponent({
  name: "ModuleLayout",
  setup(_, { emit }) {
    const leftDrawerOpen = ref(true);
    const state = reactive({
      date: dayjs().format("DD/MM/YY"),
      task: "",
    });

    const submit = () => {
      emit("onSubmit", state.task, state.date);
    };

    return {
      ...toRefs(state),
      leftDrawerOpen,
      submit,
    };
  },
});
</script>
