<template>
  <div class="q-pa-xl">
    <q-list bordered separator v-if="rows.length > 0">
      <q-item v-for="(a, index) in rows" :key="a" v-ripple>
        <q-item-section>
          <div class="row items-center">
            <div
              class="col-9 row justify-between todo"
              @click="editTodo(index, a)"
            >
              <span class="row items-center">
                {{ a.todo }}
              </span>
              <span class="row items-center">
                {{ a.date }}
              </span>
            </div>
            <div class="col-3 row justify-end">
              <q-icon
                name="highlight_off"
                style="font-size: 2em"
                class="text-red"
                @click="hapus(index)"
              />
            </div>
          </div>
        </q-item-section>
      </q-item>
    </q-list>
    <div v-else>
      <h3>Nothing to do...</h3>
    </div>
  </div>
</template>

<script>
import { defineComponent, ref, watch, reactive, toRefs } from "vue";
import dayjs from "dayjs";
import customParseFormat from "dayjs/plugin/customParseFormat";

export default defineComponent({
  props: {
    daftarTodo: {
      required: true,
    },
  },

  setup(props, { emit }) {
    dayjs.extend(customParseFormat);
    const rows = ref(props.daftarTodo);
    const state = reactive({
      showDialogFromParent: false,
      data: {},
    });

    const hapus = (idx) => {
      emit("onHapus", idx);
    };

    const editTodo = (index, a) => {
      emit("edit", index, a);
    };

    watch(
      () => props.daftarTodo,
      (newVal) => {
        // newVal.sort(
        //   (a, b) =>
        //     Number(new Date(dayjs(a.todo, "DD/MM/YY").format("YYYY-MM-DD"))) -
        //     Number(new Date(dayjs(b.todo, "DD/MM/YY").format("YYYY-MM-DD")))
        // );

        newVal.sort((a, b) => a.todo.localeCompare(b.todo));

        rows.value = newVal;
      },
      {
        immediate: true,
        deep: true,
      }
    );

    return {
      rows,
      hapus,
      editTodo,
      ...toRefs(state),
    };
  },
});
</script>

<style scoped>
.todo {
  height: 100% !important;
}
</style>
