<template>
  <q-layout view="hHh Lpr fFf">
    <!-- header -->
    <HeaderComponent />

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { defineComponent } from "vue";

import HeaderComponent from "src/components/HeaderComponent.vue";

export default defineComponent({
  name: "ModuleLayout",
  components: {
    HeaderComponent,
  },
});
</script>

<style scoped>
.row {
  /* padding: 10px 15px; */
  border: 1px solid rgba(86, 61, 124, 0.2);
}

.nothing {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  font-size: 56px;
}
</style>
